.picture {
    background-image: url("../Students_opinion/люди.png");
    background-size: cover;
    color: white;
    padding: 20%;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
